body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;    
    text-align: center;
}
a {
    color: aquamarine;
    font-size: 16px;
}
#title1 {
    font-weight: normal;
    font-size: 50px;
}
#title2, #title3 {
    font-weight: 300;
    font-size: 42px;
}
#description {
    font-size: 21px;
    color: gray;
}
#copyright {
    text-align: right;
    font-size: 21px;
    color: gray;
}
